<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J.A.N.G.</title>
    <base href="/">
    <link rel="icon" type="image/ico" href="s/img/JANG.png">
    <link rel="stylesheet" type="text/css" href="/s/default_style.css">
    <link rel="stylesheet" type="text/css" href="/s/form_default.css" data-scope=".usingFormDefaultStyle">
    <script src="/s/nav.js" defer></script>
    <script src="/s/goodFunc.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/validator@13.15.23/validator.min.js" defer></script>
    <script src="/s/particlebg.js" defer></script>
    <style>
        .number-guess-page {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 48px;
            height: 100%;
        }

        .number-guess-page h1 {
            font-size: 36px;
            margin-bottom: 20px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="major-container">
        <!--nav bar-->
        <nav class="top-bar">
            <a href="./" class="nav-logo">
                <span>J.A.N.G.</span>
            </a>
        </nav>
        <!--content-->
        <div class="container">
            <div id="particles-js"></div>
            <div class="main-content" id="main-content">
                <div class="number-guess-page usingFormDefaultStyle">
                    <div class="form-container">
                        <h1>Enter A Number To Guess The Answer Pls, {{user_name}}.</h1>
                        <form id="number-guess-form" action="{{url_for('number_game')}}" method="post">
                            <div class="form-input-group">
                                <label for="guess" class="form-label">Guess:</label>
                                <input type="number" min="0" max="100" id="guess" name="guess" placeholder="Enter your guess" class="form-input"
                                    autocomplete="on" required {% if win %}disabled{% endif %}><br><br>
                            </div>
                            <input type="submit" value="I think the answer is it!" class="form-submit-button" {% if win %}disabled{% endif %}>
                        </form>
                        <h2>{{msg}}</h2>
                        {% if win %}
                            <a href="{{ url_for('index') }}">
                                <button type="button">Back To Main Page</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <footer class="footer">
                <p>&copy; 2026 Just-A-Number-Game all rights reserved.</p>
            </footer>
        </div>
    </div>
</body>
</html>